.contact-component {
    min-height: 100vh;
    width: 100%;
    padding: 90px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-component h2 {
    font-family: var(--raleway);
    font-size: 2em;
    text-align: center;
}

.contact-component p {
    font-family: var(--raleway);
    font-size: 1em;
    display: block;
    text-align: center;
    padding: 10%;
}

.contact-component ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-component ul li:hover {
    background-color: rgb(204, 204, 204);
}

.contact-component a:link, .contact-component a:visited, .contact-component a:active {
    text-decoration: none;
    color: black;
}

.contact-component ul li a {
    overflow-wrap: anywhere;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: var(--raleway);
    font-size: 1.5em;
}

.contact-component svg {
    aspect-ratio: 1/1;
    height: 1.5em;
}